[user]
	name = Rahul Sabinkar
	email = rahulsabinkar4u@gmail.com
[core]
  editor = code --wait
	autocrlf = input
	excludesfile = /home/ray/.gitignore_global
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[credential]
	helper = cache
[alias]
	lg = log --oneline --all --graph
[pull]
	rebase = false
[init]
	defaultBranch = main
[pager]
	log = false
